.Auth {
    margin: 20px;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border-bottom: 1px solid#ccc;
    padding: 10px;
    box-sizing: border-box;
}

.Input {
    display: block;
}

@media (min-width: 600) {
    .Auth {
        width: 500px;
    }
}